# Copyright (C) 2025 Tasos Alvas <tasos.alvas@qwertyuiopia.com>
# SPDX-License-Identifier: AGPL-3.0-or-later

**/__pycache__
**/*.egg-info
.ruff_cache
.pytest_cache
.venv
/tmp

# Spdiu instance files
/spdiu.yaml
/tasks.py
/slots
/game

# I like to keep a symlink to the invoke source.
/invoke
