# Copyright (C) 2025 Tasos Alvas <tasos.alvas@qwertyuiopia.com>
# SPDX-License-Identifier: AGPL-3.0-or-later
/*
!/tasks.py
!/invoke.yaml.example
!/local_tasks.py.example
!/.gitignore
!/README.md
!/LICENSES
!/REUSE.toml
!/spdiu/
!/uv.lock
!/pyproject.toml
!/.pre-commit-config.yaml
