#!/usr/bin/env python
# Copyright (C) 2025 Tasos Alvas <tasos.alvas@qwertyuiopia.com>
# SPDX-License-Identifier: AGPL-3.0-or-later
"""
This is an example for adding your own local tasks to SPDIU.

See https://docs.pyinvoke.org/en/stable/ for invoke documentation.
"""


from invoke import task


## An automatically detected user collection will use the 'u' prefix.
## If a 'collection_name' is found, it will be used instead.
# collection_name = 'myname'

## An 'ns' object can be used to declare the collection explicitly.
## If it is detected, SPDIU will add it as-is instead, ignoring 'collection_name'
## See task collections in the spdiu.collections module for examples.


@task
def config(c):
    """
    Accesses a config value from the same context.
    """
    cfg = c.config.spdiu

    print(f"Here's a config value: \"{cfg.active_save}\".")
